<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.libsdl.app">

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 计算应用存储空间 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="scrcpy"
        android:theme="@style/AppTheme"
		android:screenOrientation="landscape"
        android:resizeableActivity="true">
		

        <activity
            android:name=".SDLActivity"
            android:label="scrcpy">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>
